$bodyBg: #e5e5e5;
$mainBg: #fff;
$mainColor: #f3b7e6;
$txtColor: #4E4D4F;
$purple: #8624DB;
$orange: #FF9066;
$light: #fffcfc;
$white: #fff;
$black: #000;
$dark: #000000d3;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 335px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
